body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25;
    max-width:   1024 px;
}
div#content {
    position: absolute;
    right:    5%;
    left:     10%;
    overflow: hidden;
}
div#content div#banner{
    margin: 0px 0px 0px 0px;
}
div#content div#intro{
    margin: 0px 0px 50px 0px;
}
div#content div#attendance {
    margin: 0px 0px 0px 0px;
}
div#content div#communications{
    margin: 0px 0px 0px 0px;
}
.div_img {
    float:         right;
    margin-bottom: 25px;
    margin-left:   50px;
    margin-top:    50px;
}
.div_text{
    display:      block;
    text-justify: auto;
    width:        85%;
}
#banner_img {
    margin: auto;
}
dt {
    font-weight: bold;
    margin:      1em 0em;
}
hr.style-four { 
    border:     0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
    color:      #000000; 
    height:     25px;
}
