div#wiki_page_show > div.show-content h2,
body#tinymce h2 {
  border-bottom-style: solid ;
  border-bottom-width: 0.3em ;
  color: #007481 ;
  font-size: 130% ;
  font-weight: bold ;
  padding-left: 0.15em ;
}
div#wiki_page_show > div.show-content h3,
body#tinymce h3 {
  font-size: 120% ;
}
div#wiki_page_show > div.show-content h4,
body#tinymce h4 {
  font-size: 110% ;
}
